
/* custom background header panel */
.custom-header-panel {
    border-color: #004b8e !important;
    color: white;
}

.no-margin-form-group {
    margin: 0 !important;
}

.requerido {
    color: red;
}

.btn-orange-md {
    background: #FF791F !important;
    border-bottom: 3px solid #ae4d13 !important;
    color: white;
}

    .btn-orange-md:hover {
        background: #d86016 !important;
        color: white !important;
    }

.top-panel {
    padding: 40px 0;
}

#message-area {
    margin: 10px;
    text-align: center;
    color: #D86016;
    background-color: lightgrey;
}

.dropdown-menu.show {
    overflow-y: scroll;
    max-height: 200px;
}


.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}